/* html, body { height: 100%; } */
body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  margin: 1rem auto; 
  padding: 0 1rem;
  max-width: 1200px; 
}

h1 { font: var(--mat-sys-display-large); }
h2 { font: var(--mat-sys-headline-large); }
h3 { font: var(--mat-sys-title-large); }
